---
import { client } from "@utils/contentful_utils";
import { getLangFromUrl } from "@i18n/utils";

const { key, data, css_class } = Astro.props;

const {
    fields: { id: id, text: text, url: url },
} = data;

const ctaPage =
    data.fields.ctaPage?.sys.id &&
    (await client.getEntry(data.fields.ctaPage.sys.id));

const ctaPageUrl = ctaPage?.fields.slug;
const lang = getLangFromUrl(Astro.url);

const pageUrl = ctaPageUrl ? `/${lang}/${ctaPageUrl}` : url;
---

<a class={css_class} id={id} href={pageUrl} role="button">
    {text}
</a>
<style>
    .button-cta,
    .page-cta {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: var(--primaryColorTwo);
        color: black;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .button-cta:hover,
    .page-cta:hover {
        background-color: black;
        color: white;
        transform: scale(1.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .navbar-button {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--primaryColorTwo);
        color: black;
        border: 1px solid transparent;
        cursor: pointer;
        text-decoration: none;
        transition:
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out;
    }

    .navbar-button:hover {
        background-color: black;
        color: white;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra interna para efecto de profundidad */
    }

    .button-hero {
        display: inline-block;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--primaryColorTwo); /* Match color */
        color: black; /* Match color */
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .button-hero:hover {
        background-color: black; /* Match hover color */
        color: white; /* Match hover color */
        transform: scale(1.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
        .button-cta {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
        }
        .page-cta {
            text-align: center;
            margin: 1rem auto;
            display: block;
        }
    }
</style>
