---
import { client } from "@utils/contentful_utils";

import { listBlogs } from "@utils/contentful_utils";
import { getLangFromUrl } from "@i18n/utils";
import Card from "@components/Card.astro";

const lang = getLangFromUrl(Astro.url);
const { key, id } = Astro.props;

const data = await client.getEntry(id, { locale: lang });

const {
    fields: { title: title },
} = data;

const blogs = await listBlogs();
---

<h2>{title}</h2>
<div class="comments-container">
    <ul class="comments-list">
        {
            blogs.map(
                (blog) =>
                    blog?.fields && (
                        <Card
                            title={String(blog.fields.title)}
                            body={String(blog.fields.enShortDescription)}
                            href={`/${lang}/blogs/${blog.fields.slug}`}
                        />
                    )
            )
        }
    </ul>
</div>

<style>
    .comments-container {
        padding: 16px;
        max-width: 100%;
        margin: 0 auto;
    }

    .comments-list {
        display: flex;
        gap: 16px;
        overflow-x: auto;
        padding: 16px;
        scroll-snap-type: x mandatory;
        list-style-type: none;
    }

    .comments-list::-webkit-scrollbar {
        height: 8px;
    }

    .comments-list::-webkit-scrollbar-thumb {
        background: var(--primaryColorTwo);
        border-radius: 4px;
    }

    .comments-list::-webkit-scrollbar-track {
        background: #ffe9b5;
        opacity: 0.5;
    }
</style>
