---
import { listBlogs } from "@utils/contentful_utils";
import { getLangFromUrl } from "@i18n/utils";
import Card from "@components/Card.astro";

const { key, data } = Astro.props; // Added lang

const {
    fields: { title: title },
} = data;

const blogs = await listBlogs();
const lang = getLangFromUrl(Astro.url); // Added lang
---

<h2>{title}</h2>
<ul>
    {
        blogs.map((blog) => (
            <li id={blog.sys.id}>
                <Card
                    title={blog.fields.title}
                    body={blog.fields.enShortDescription}
                    href={`/${lang}/blogs/${blog.fields.slug}`}
                />
            </li>
        ))
    }
</ul>
