---
const { key, data } = Astro.props;

const {
    fields: {
        title: title,
        body: body,
        eventDate: event_date,
        location: location,
        buttonCta: button_cta,
        image: {
            fields: {
                file: { url: image_url },
                description: image_alt,
            },
        },
    },
} = data;
---

<section class="event-banner">
    <img class="event-image" src={`https:${image_url}`} alt={image_alt} />
    <div class="event-text">
        <h2 class="event-title">{title}</h2>
        <p class="event-body">{body}</p>
        <span class="event-date-location">{event_date}</span>
        <span class="event-date-location">{location}</span>
        <a href={button_cta.fields.url} class="cta">
            <button class="event-button">
                {button_cta.fields.text}
            </button>
        </a>
    </div>
</section>
<style>
    .event-banner {
        background: #f7f7f7;
        border-radius: 1rem;
        display: flex;
        height: auto;
        margin: auto;
        padding: 1rem;
        width: 50%;
    }
    .event-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 70%;
    }
    .event-image {
        border-radius: 1rem;
        height: auto;
        width: 30%;
        object-fit: cover;
    }
    .cta {
        width: auto; 
        text-decoration: none;
        align-self: flex-end; 
    }
    .event-button{
        float: right;
        padding: 10px 10px;
        border-radius: 10px;
        border: 1px solid transparent;
        cursor: pointer;
        color: var(--primaryColorOne);
        border: 1px solid var(--primaryColorOne);
    }
    .event-button:hover {
        background-color: var(--primaryColorOne);
        color: white;
    }
    .event-title, .event-body {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .event-date-location{
        margin-left: 1rem;
    }
</style>
