---
import { type Footer } from "@interfaces/footer";
import { getLangFromUrl } from "@i18n/utils";

import Logo from "@components/Logo.astro";

import facebook_logo from "@assets/facebook_logo.svg?raw";
import instagram_logo from "@assets/instagram_logo.svg?raw";
import linkedin_logo from "@assets/linkedin_logo.svg?raw";
import youtube_logo from "@assets/youtube_logo.svg?raw";

const lang = getLangFromUrl(Astro.url);

const navDict: { [key: string]: { [key: string]: string } } = {
    solutions: {
        "employee-file-management": `/${lang}/employee-file-management`,
        "automated-invoice-processing": `/${lang}/automated-invoice-processing`,
        "secure-document-archiving": `/${lang}/secure-document-archiving`,
        "document-management": `/${lang}/document-management`,
        "contract-management": `/${lang}/contract-management`,
    },
    products: {
        "on-premises": `/${lang}/on-premises`,
        cincom: `/${lang}/cincom`,
        "content-capture": `/${lang}/content-capture`,
        "electronic-safe": `/${lang}/electronic-safe`,
        workflow: `/${lang}/workflow`,
        archiving: `/${lang}/archiving`,
        indexing: `/${lang}/indexing`,
        "expand-ecm": `/${lang}/expand-ecm`,
        "electronic-signature": `/${lang}/electronic-signature`,
        "robust-search": `/${lang}/robust-search`,
    },
    integration: {
        "teams-integration": `/${lang}/teams-integration`,
        "email-integration": `/${lang}/email-integration`,
        "data-integration": `/${lang}/data-integration`,
        "office-integration": `/${lang}/office-integration`,
    },
    resources: {
        ebook: `/${lang}/ebook`,
        "case-studies": `/${lang}/case-studies`,
        glossary: `/${lang}/glossary`,
    },
    company: {
        "who-we-are": `/${lang}/who-we-are`,
        "about-ecm": `/${lang}/about-ecm`,
        "client-testimonials": `/${lang}/client-testimonials`,
        contact: `/${lang}/contact`,
    },
    partners: {
        "become-a-partner": `/${lang}/become-a-partner`,
        evaluate: `/${lang}/evaluate`,
    },
};
---

<nav class="footer">
    <ul class="main-list">
        {
            Object.keys(navDict).map((category) => (
                <li class="list-container">
                    <span class="list-title">
                        {category.charAt(0).toUpperCase() + category.slice(1)}
                    </span>
                    <ul class="sub-list">
                        {Object.keys(navDict[category]).map((item) => (
                            <li>
                                <a href={navDict[category][item]}>
                                    {item
                                        .replace(/-/g, " ")
                                        .replace(/\b\w/g, (c) =>
                                            c.toUpperCase()
                                        )}
                                </a>
                            </li>
                        ))}
                    </ul>
                </li>
            ))
        }
    </ul>
    <div class="social-icons">
        <a href="#" class="icon"
            ><Logo css_class="footer_logo" logo={facebook_logo} /></a
        >
        <a href="#" class="icon"
            ><Logo css_class="footer_logo" logo={instagram_logo} /></a
        >
        <a href="#" class="icon"
            ><Logo css_class="footer_logo" logo={linkedin_logo} /></a
        >
        <a href="#" class="icon"
            ><Logo css_class="footer_logo" logo={youtube_logo} /></a
        >
    </div>
    <label class="copy">© 2024 DocuWare</label>

    <style>
        .footer {
            background-color: #f7f7f7;
            color: black;
            padding: 60px; /* Increase padding */
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid #ddd;
            width: 100%;
        }

        .main-list {
            display: flex;
            justify-content: center;
            padding: 0;
            width: 80%; /* Increase width */
            gap: 3rem; /* Increase gap between footer columns */
        }

        .list-container {
            flex: 1;
        }

        .list-title {
            color: var(--primaryColorOne);
            font-weight: bold;
            margin-bottom: 20px; /* Increase margin-bottom */
            display: block;
            font-size: 1.2rem; /* Increase font size */
        }

        .sub-list {
            list-style: none;
            padding: 0;
        }

        .sub-list li {
            margin-bottom: 15px; /* Increase margin-bottom */
        }

        .sub-list li a {
            text-decoration: none;
            color: black;
            transition: color 0.3s;
        }

        .sub-list li a:hover {
            color: #303ab2;
        }

        .social-icons {
            display: flex;
            justify-content: left;
            gap: 20px; /* Increase gap */
            width: 100%;
            margin-top: 30px; /* Increase margin-top */
            margin-left: 40%;
        }

        .social-icons .icon {
            margin-right: 20px; /* Increase margin-right */
        }

        .social-icons .icon img {
            width: 28px; /* Increase size */
            height: 28px; /* Increase size */
            transition: opacity 0.3s;
        }

        .social-icons .icon img:hover {
            opacity: 0.7;
        }

        .copy {
            color: gray;
            font-size: 14px; /* Increase font size */
            margin-top: 40px; /* Increase margin-top */
        }
    </style>
</nav>
