---
import { type Footer } from "@interfaces/footer";

import Logo from "@components/Logo.astro";

import facebook_logo from "@assets/facebook_logo.svg?raw";
import instagram_logo from "@assets/instagram_logo.svg?raw";
import linkedin_logo from "@assets/linkedin_logo.svg?raw";
import youtube_logo from "@assets/youtube_logo.svg?raw";

const test_dict: Footer = {
    explore: [
        { text: "Blah blah blah blah blah blah", link: "2" },
        { text: "nananana ananananana", link: "3" },
        { text: "3", link: "4" },
    ],
    partner: [
        { text: "1", link: "2" },
        { text: "2", link: "3" },
        { text: "3", link: "4" },
    ],
    legal: [
        { text: "1", link: "2" },
        { text: "2", link: "3" },
        { text: "3", link: "4" },
    ],
    contact: [
        { text: "1", link: "2" },
        { text: "2", link: "3" },
        { text: "3", link: "4" },
    ],
};
---

<nav class="footer">
    <ul class="main-list">
        {
            Object.keys(test_dict).map((item) => (
                <li class="list-container">
                    <span class="list-title">
                        {`${item.charAt(0).toUpperCase()}${item.slice(1).toLowerCase()}`}
                    </span>
                    <ul class="sub-list">
                        {test_dict[item as keyof Footer].map((subItem) => (
                            <li>
                                <a href={subItem.link}>{subItem.text}</a>
                            </li>
                        ))}
                    </ul>
                </li>
            ))
        }
    </ul>
    <div class="social-icons">
        <a href="#" class="icon"><Logo logo={facebook_logo} /></a>
        <a href="#" class="icon"><Logo logo={instagram_logo} /></a>
        <a href="#" class="icon"><Logo logo={linkedin_logo} /></a>
        <a href="#" class="icon"><Logo logo={youtube_logo} /></a>
    </div>
    <label class="copy">© 2024 DocuWare</label>

    <style>
        .footer {
            background-color: #f7f7f7;
            color: black;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid #ddd;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
        }

        .main-list {
            display: flex;
            justify-content: center;
            padding: 0;
            width: 60%;
        }

        .list-container {
            flex: 1;
        }

        .list-title {
            color: var(--primaryColorOne);
            font-weight: bold;
            margin-bottom: 15px;
            display: block;
        }

        .sub-list {
            list-style: none;
            padding: 0;
        }

        .sub-list li {
            margin-bottom: 10px;
        }

        .sub-list li a {
            text-decoration: none;
            color: black;
            transition: color 0.3s;
        }

        .sub-list li a:hover {
            color: #303ab2;
        }

        .social-icons {
            display: flex;
            justify-content: left;
            gap: 15px;
            width: 100%;
            margin-top: 20px;
            margin-left: 40%;
        }

        .social-icons .icon {
            margin-right: 15px;
        }

        .social-icons .icon img {
            width: 24px;
            height: 24px;
            transition: opacity 0.3s;
        }

        .social-icons .icon img:hover {
            opacity: 0.7;
        }

        .copy {
            color: gray;
            font-size: 12px; /* Make text smaller */
            margin-top: 30px;
        }
    </style>
</nav>
