---
import { client } from "@utils/contentful_utils";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { getLangFromUrl } from "@i18n/utils";
import "dotenv/config";
import "@styles/richText.css";
import "@styles/ReactiveForm.css";

export const prerender = true;

const { id } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const data = await client.getEntry(id, { locale: lang });
const formId = data.fields.id as string;
const formTitle = data.fields.formTitle as string;
const formDescription = data.fields.formDescription as any;
const embeddedForm = data.fields.embeddedForm;
const formFields = data?.fields?.formFields || ([] as any);
---

<div class="form-container">
    <div class="rich-text-content">
        <h1>{formTitle}</h1>
        <Fragment set:html={documentToHtmlString(formDescription)} />
    </div>
    {
        embeddedForm ? (
            <Fragment set:html={embeddedForm} />
        ) : (
            <form
                class="reactiveform"
                method="POST"
                data-netlify="true"
                netlify-honeypot="bot-field"
                data-lang={lang}
            >
                <input type="hidden" name="form-name" value={formId} />
                <p class="hidden">
                    <label>
                        Don't fill this out if you're human:{" "}
                        <input name="bot-field" />
                    </label>
                </p>
                {formFields.map((data: any) => {
                    const fields = data.fields;
                    const { id, type, text, placeholder, required } = fields;
                    return (
                        <div id={id}>
                            <label for={id}>{text}</label>
                            <input
                                type={type || "text"}
                                id={id}
                                name={id}
                                placeholder={placeholder}
                                required={required}
                            />
                        </div>
                    );
                })}
                <button type="submit">Submit</button>
            </form>
        )
    }
</div>

<script>
    // @ts-nocheck
    const handleSubmit = async (event) => {
        event.preventDefault();

        const myForm = event.target;
        const formData = new FormData(myForm);
        const lang = myForm.getAttribute("data-lang");

        // Debug: log all form fields and their values
        for (const [key, value] of formData.entries()) {
            console.log(key, value);
        }

        await fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams(formData).toString(),
        })
            .then(() => {
                console.log("Form successfully submitted");
                window.location.href = `/${lang}/thank-you`;
            })
            .catch((error) => alert(error));
    };

    document.querySelector("form")?.addEventListener("submit", handleSubmit);
</script>

<style>
    .hidden {
        display: none;
    }
    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 1em;
        gap: 1rem;
    }
    .rich-text-content {
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 768px) {
        .form-container {
            padding: 20px;
            grid-template-columns: 1fr;
        }
    }
</style>
