---
import BannerImage from "@components/BannerImage.astro";
import BannerCta from "@components/BannerCta.astro";

const { key, data } = Astro.props;

const {
    fields: { title: title, body: body, image: image, cta: cta },
} = data;
---

<section class="hero-banner">
    <div class="hero-text">
        <h1 class="hero-title">{title}</h1>
        <p class="sub-hero-title">{body}</p>
        {cta && <BannerCta data={cta} />}
    </div>
    {image && <BannerImage key={key} css_class="hero-image" data={image} />}
</section>
<style>
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .hero-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondaryColorOne);
        width: 100%;
    }

    .sub-hero-title {
        padding-right: 2rem;
        padding-top: 2rem;
    }

    @media (max-width: 768px) {
        .hero-banner {
            flex-direction: column;
        }
    }
</style>
