---
import BannerImage from "@components/BannerImage.astro";
import BannerCta from "@components/BannerCta.astro";

const { key, data } = Astro.props;

const {
    fields: { title: title, body: body, image: image, buttons: cta },
} = data;
---

<section class="hero-banner">
    <div class="hero-text">
        <h1 class="hero-title">{title}</h1>
        <p class="sub-hero-title">{body}</p>
        <div class="button-container">
            {
                cta &&
                    cta.map(
                        (cta: any, key: number) =>
                            cta?.fields && (
                                <BannerCta
                                    data={cta}
                                    key={key}
                                    css_class="button-hero"
                                />
                            )
                    )
            }
        </div>
    </div>
    {
        image?.fields?.file?.url && (
            <BannerImage key={key} css_class="hero-image" data={image} />
        )
    }
</section>
<style>
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .hero-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondaryColorOne);
        width: 100%;
    }

    .sub-hero-title {
        padding-right: 2rem;
        padding-top: 2rem;
    }

    .hero-title {
        animation: grow 3s infinite ease-in-out;
    }

    @keyframes grow {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.02);
        }
        100% {
            transform: scale(1);
        }
    }

    @media (max-width: 768px) {
        .hero-banner {
            flex-direction: column;
            text-align: center;
        }
        .sub-hero-title {
            padding-right: 1rem;
            padding-top: 1rem;
            text-align: center;
        }
        .button-hero {
            margin-bottom: 1rem;
        }
    }
</style>
