---
import { type Navbar } from "@interfaces/navbar";
import BannerCta from "@components/BannerCta.astro";

const cta = {
    fields: {
        id: 1,
        text: "Request a demo",
        url: "https://www.youtube.com/watch?v=R7PKmKV-WfY&ab_channel=LasAlucines",
    },
};

const test_dict: Navbar = {
    solutions: [
        { text: "1", link: "2" },
        { text: "2", link: "3" },
        { text: "3", link: "4" },
    ],
    products: [
        { text: "1", link: "2" },
        { text: "2", link: "3" },
        { text: "3", link: "4" },
    ],
    resources: [
        { text: "1", link: "2" },
        { text: "2", link: "3" },
        { text: "3", link: "4" },
    ],
    company: [
        { text: "1", link: "2" },
        { text: "2", link: "3" },
        { text: "3", link: "4" },
    ],
};
---

<head>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
        integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
        crossorigin="anonymous"
    />
</head>

<nav class="navbar">
    <a href="#">Logo</a>
    <label for="menu-toggle"></label>
    <ul>
        {
            Object.keys(test_dict).map((item) => (
                <li class="dropdown-container">
                    <button class="drop">
                        {`${item.charAt(0).toUpperCase()}${item.slice(1).toLowerCase()}`}
                        <i class="bi bi-chevron-down" />
                    </button>
                    <div class="dropdown">
                        {test_dict[item as keyof Navbar].map((subItem) => (
                            <a href={subItem.link}>{subItem.text}</a>
                        ))}
                    </div>
                </li>
            ))
        }
    </ul>
    {cta && <BannerCta data={cta} key={1} css_class="navbar-button" />}
</nav>

<style>
    .navbar {
        background-color: white;
        padding: 35px;
        position: sticky;
        top: 0;
        z-index: 2;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4rem;
    }
    .navbar ul {
        list-style: none;
        padding: 0;
        display: flex;
    }
    .navbar li {
        margin-right: 10px;
        position: relative;
    }
    .navbar a {
        color: black;
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    .navbar a:hover {
        background-color: #e9f3fd;
    }
    .drop {
        padding: 10px 25px;
        border-radius: 12px;
        background-color: white;
        border: 1px solid transparent;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .drop i {
        transition: transform 0.3s ease-in-out;
        margin-left: 10px;
        display: inline-block;
    }
    .drop:focus {
        pointer-events: none;
    }
    .drop:focus ~ .dropdown {
        top: calc(100% + 10px);
        opacity: 1;
        pointer-events: auto;
    }
    .drop:focus i {
        transform: rotate(180deg);
    }
    .dropdown-container {
        position: relative;
    }
    .dropdown {
        position: absolute;
        top: calc(100% + 10px);
        width: 200%;
        border-radius: 10px;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        pointer-events: none;
        padding: 5px;
        background: #f0f0f0;
    }
    .dropdown a {
        text-decoration: none;
        border-radius: 5px;
        user-select: none;
        font-size: 14px;
        padding: 10px 20px;
        cursor: pointer;
        display: block;
        width: 80%;
        color: black;
        font-weight: 600;
        transition: background-color 0.2s;
    }
    .dropdown a:hover {
        background-color: #e9f3fd;
        color: black;
    }
    .dropdown-container:focus-within .drop {
        color: var(--primaryColorOne);
        background-color: #e9f3fd;
    }
    .search-container {
        position: relative;
    }
    .search-container input {
        display: none;
        padding: 8px 20px;
        border-radius: 12px;
        border: 1px solid #ccc;
        font-size: 16px;
        width: 200px;
        transition: width 0.3s ease;
    }
    .search-container button {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .search-container:focus-within .search-input {
        display: block;
        width: 200px;
    }
    .request {
        padding: 10px 15px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid transparent;
        cursor: pointer;
        color: var(--primaryColorOne);
        border: 1px solid var(--primaryColorOne);
    }
    .request:hover {
        background-color: var(--primaryColorOne);
        color: white;
    }
    button:hover {
        background-color: #e9f3fd;
    }
</style>
