---
import BannerImage from "@components/BannerImage.astro";
import BannerCta from "@components/BannerCta.astro";

const { key, data } = Astro.props;

const {
    fields: { title: title, body: body, image: image, cta: cta },
} = data;

const reverse = key % 2 === 0;
---

<section class={`page-banner ${reverse ? "" : "reverse"}`}>
    {image && <BannerImage data={image} key={key} css_class="page-image" />}
    <div class="banner-text">
        <h2 class="banner-title">{title}</h2>
        <p class="banner-body">{body}</p>
        {cta && <BannerCta data={cta}  key={key} css_class="page-cta"/>}
    </div>
    <style>
        .page-banner {
            gap: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--secondaryColorOne);
        }
        .page-banner.reverse {
            flex-direction: row-reverse;
        }
        .banner-body {
            margin-top: 2rem;
        }
        @media (max-width: 768px) {
            .page-banner {
                flex-direction: column;
            }
            .page-banner.reverse {
                flex-direction: column;
            }
            .banner-title{
                font-size: 30px;
                margin-left: 1rem;
            }
            .banner-body{
                font-size: 16px;
                margin-right: 1rem;
                margin-left: 1rem;
            }
        }
    </style>
</section>
