---
import { client } from "@utils/contentful_utils";

import BannerImage from "@components/BannerImage.astro";
import BannerCta from "@components/BannerCta.astro";

const { key, id } = Astro.props;

const data = await client.getEntry(id);

const {
    fields: { title: title, body: body, image: image, cta: cta },
} = data;

const reverse = key % 2 === 0;
---

<section
    class={`page-banner ${reverse ? "" : "reverse"} ${image ? "" : "no-image"}`}
>
    {image && <BannerImage data={image} key={key} css_class="page-image" />}
    <div class="banner-text">
        <h2 class="banner-title">{title}</h2>
        <p class="banner-body">{body}</p>
        {cta && <BannerCta data={cta} key={key} css_class="page-cta" />}
    </div>
</section>
<style>
    .page-banner {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-color: var(--secondaryColorOne);
    }
    .page-banner.reverse {
        flex-direction: row-reverse;
    }
    .page-banner.no-image .banner-text {
        width: 100%;
    }
    .banner-text {
        width: 50%;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 60px 80px 0 80px;
    }
    .page-banner:not(.reverse) .banner-text {
        margin-left: 0;
    }
    .page-banner.reverse .banner-text {
        margin-right: 0;
    }
    @media (max-width: 768px) {
        .page-banner {
            margin: 20px 10px 0px 20px;
            flex-direction: column;
        }
        .page-banner.reverse {
            flex-direction: column;
        }
        .banner-title {
            font-size: 30px;
            width: 80%;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .banner-body {
            font-size: 16px;
            margin-right: 1rem;
            margin-left: 1rem;
            text-align: left;
        }
        .banner-text {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            margin: 20px 0px 20px 0px;
        }
        .banner-body {
            margin: 0 40px;
        }
    }
</style>
