---
import "@styles/reset.css";

import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

import { getPageColors } from "@utils/contentful_utils";

const vars = await getPageColors();

interface Props {
    title: string;
    lang: string;
    page_id: string;
}

const { title, lang, page_id } = Astro.props;
---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body id={page_id}>
        <Navbar />
        <div class="page-container">
            <slot />
        </div>
        <Footer />
    </body>
</html>
<style is:global define:vars={vars}>
    /* Classes */
    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    /* Elements */
    body {
        background-color: var(--primaryColorOne);
        font-family: "Courier New", Courier, monospace;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    h1 {
        font-size: 2.6rem;
        color: var(--primaryColorOne);
    }
    h2 {
        font-size: 2rem;
        color: var(--primaryColorOne);
    }
    h3 {
        font-size: 1.6rem;
        color: var(--primaryColorOne);
    }
    p {
        font-size: 1.3rem;
        color: var(--primaryColorOne);
        word-spacing: 0.1rem;
        line-height: 1.6;
    }
</style>
