---
import "@styles/reset.css";

import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

import { getPageColors } from "@utils/contentful_utils";

const vars = await getPageColors();

interface Props {
    title: string;
    lang: string;
    page_id: string;
}

const { title, lang, page_id } = Astro.props;
---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body id={page_id}>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
<style is:global define:vars={vars}>
    /* Classes */
    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    /* Elements */
    body {
        background-color: var(--primaryColorOne);
        font-family: "Courier New", Courier, monospace;
    }
    h1 {
        font-size: 2.6rem;
        color: var(--primaryColorOne);
    }
    h2 {
        font-size: 2rem;
        color: var(--primaryColorOne);
    }
    h3 {
        font-size: 1.6rem;
        color: var(--primaryColorOne);
    }
    p {
        font-size: 1.3rem;
        color: var(--primaryColorOne);
        word-spacing: 0.1rem;
        line-height: 1.6;
    }
    @media screen and (max-width: 1200px) {
        .container {
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }
</style>
